.card1 {
  border-radius: 26px 0px 0px 26px;
}

.card2 {
  border-radius: 0px 26px 26px 0px;
}
@media (max-width: 36em) {
  .card1 {
    border-radius: 26px 26px 0px 0px;
  }

  .card2 {
    border-radius: 0px 0px 26px 26px;
  }
}
