@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
  box-sizing: border-box;
}

.landing-container {
  gap: 6rem !important;

  @media (max-width: 48em) {
    gap: 4rem !important;
  }
}
